header {
  background-color: #203c56;
  padding: 15px;
}

nav {
  transition: margin-right 1.3s ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 80px;
}

nav a {
  text-decoration: none;
  color: #E7F6F2;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #fcbb72;
}